<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dvk.presentation">

    <application>
        <activity android:name=".activities.NoteActivity"></activity>
        <activity android:name=".activities.ViewStoryActivity" />
        <activity android:name=".activities.EventActivity" />
        <activity android:name=".activities.ViewStoryParentActivity" />
        <activity android:name=".activities.CreateStoryActivity" />
    </application>

</manifest>